body
{
background-color:black;
text-align: center;
}
a, a:visited
{
color: black;
font-size: 45px;
font-family: "Courier New";
text-decoration: none;
-webkit-text-stroke: 1px white;
}

img
{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

h1#fool
{
font-size: 105px;
font-family: "Courier New";
}

h3
{
color: black;
font-size: 45px;
font-family: "Courier New";
text-decoration: none;
-webkit-text-stroke: 1px white;
}

p
{
  color:white;
}
