body
{
background-color:black;
  width:100%;
text-align: center;
margin-left: auto;
margin-right: auto;
}
a, a:visited
{
color: black;
font-size: 45px;
font-family: "Courier New";
text-decoration: none;
-webkit-text-stroke: 1px white;
}
.container
{
display: flex;
text-align: center;
justify-content: center;
width: 90%;
}
.container2
{
display: flex;
justify-content: center;
width: 90%;
margin-left: auto;
margin-right: auto;
}
img
{
  display: flex;
  min-width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}
h1{
text-align:center;
}
#fool
{
color: white;
text-align: center;
justify-content: center;
display: flex;
flex-wrap: wrap;
font-size: 105px;
font-family: "Courier New";
}

h3
{
color: black;
font-size: 45px;
font-family: "Courier New";
text-decoration: none;
-webkit-text-stroke: 1px white;
}
p
{
display: inline-block;
}
p, #space-simple
{
  text-align: center;
  color:white;
}
p > img
{
  text-align: center;
  display: flex;
  display: inline-block;
  min-width: 20%;
  margin-left: auto;
  margin-right: auto;
}
#space-simple
{
  text-align: center;
  font-size: 35px;
  color:white;
}
#simple_back{
color: white;
}
