body
{
background-color:black;
text-align: center;
}
a, a:visited
{
color: black;
font-size: 40px;
-webkit-text-stroke: 2px white;
}

picture
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
